@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

$primary-color: #009688;
$font-color: #333;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $primary-color;
    font-family: 'Nunito', sans-serif;
    color: $font-color;
    
    h1 {
	text-align: center;
	padding: 25px 0;
	letter-spacing: 2px;
	text-transform: lowercase;
    }
    
    main {
	width: 90%;
	height: 100vh;
	margin: 0 auto;
	background-color: #fff;
	position: relative;
    }

    footer {
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	line-height: 2;
	font-size: 12px;
	
	div {
	    ul {
		list-style: none;

		li {
		    display: inline-block;
		}
	    }
	}
    }
}
